<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WebAuthn Demo</title>
        <link th:href="@{/css/webauthn-demo.css}" rel="stylesheet" />
    </head>
    <body class="black-80">
        <div th:replace="~{header :: header}">...</div>
        <main>
            <h1>Login</h1>
            <div id="errors"></div>
            <form action="/authentication/finish" method="POST" id="login-form">
                <div class="form-field">
                    <label for="username">Your Username:</label>
                    <input type="text" autocomplete="username webauthn" id="username" name="username">
                </div>
                <div class="form-field">
                    <input type="hidden" id="credential" name="credential">
                    <button id="submitButton" type="button" onclick="return checkCredentials();">Log in</button>
                </div>
            </form>
        </main>
    </body>
    <script src="javascript/base64js.min.js"></script>
    <script src="javascript/custom.js"></script>
    <script src="javascript/authentication.js"></script>
</html>